body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.content {
  max-width: 1360px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
}

.container-fluid {
  position: relative;
}

#navscroll {
  position: relative;
  margin: auto;
  background-color: #f72210;
  color: #fff;
  padding: 50px 0 10px 0;
  max-width: 1360px;
}

#navbottom {
  position: relative;
  top: 95px;
  max-width: 1360px;
  margin: auto;
}

.logo {
  position: absolute;
  width: 400px;
  height: 60px;
  transform: translate(-50%, 0);
  top: 15px;
  left: 50%;
}

.logo > img {
  width: 100%;
}

.datenav {
  position: relative;
  margin-left: 20px;
  font-size: 16px;
}

#signin {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom: 12px;
}

#signinid {
  text-decoration: none;
  color: #f72210;
  background-color: #fff;
  padding: 6px;
}

.fa-chevron-right {
  padding-right: 12px;
  padding-left: 12px;
  z-index: 9999;
}

#signin span {
  margin-right: 14px;
}

.fa-bars {
  position: absolute;
  top: 0;
  right: -12px;
  width: 14px;
  padding: 12px;
  color: #f72210;
  z-index: 9999;
}

.header-bottom {
  color: #000;
  height: 50px;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.header-bottom::before {
  width: 66px;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid #fff;
  border-top: 13px solid #f72210;
}

.nav {
  display: flex;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  list-style: none;
  padding: 0 60px 0 0;
}

.nav li {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.nav > li > a {
  cursor: pointer;
}

.nav > li > a:hover {
  color: #f72210;
}

.nav :first-child,
.nav :last-child {
  border-width: 0;
}

#search {
  color: #0000008c;
  cursor: text;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-search {
  padding-left: 10px;
  font-weight: 400;
}

.content {
  padding-top: 100px;
  background-color: #fff;
}

.block-title {
  color: #03030366;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 11px;
  padding-top: 20px;
}

article {
  padding-bottom: 20px;
}

.wrapper {
  position: relative;
  min-height: 35px;
}

img {
  position: relative;
  width: 100%;
}

.pic-on {
  display: block;
  font: bold 17px/16px "Roboto", sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  color: #000;
}

.summary {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 12px;
}

.related {
  padding: 10px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

.clearfix {
  padding-top: 14px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
}

.image {
  float: left;
  width: 135px;
  margin-right: 15px;
  clear: right;
}

h6 {
  color: #000;
  font-weight: 700;
}

.opinion {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headshot {
  height: 63px;
  max-width: 63px;
}

.info {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: -10px;
}

.byline {
  color: #555;
  padding: 0;
  margin: 0;
}

#last-opinion {
  border: none;
}

.article-info {
  padding: 20px 0;
  border: 1px solid #e6e6e6;
}

.block {
  position: relative;
  width: 300px;
  height: 163px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
  margin: 0 auto 20px;
}

#add {
  margin-bottom: 10px;
}

.update {
  margin-top: 20px;
  color: #333;
  font: bold 15px/15px "Roboto", sans-serif;
}

.icon-n {
  position: relative;
  display: block;
  max-width: 29px;
  height: 28px;
  background:
    url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

#block-text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.signup {
  text-decoration: none;
  color: #fff;
  width: 101px;
  padding: 10px 5px 10px 12px;
  font: bold 18px/18px "Roboto", sans-serif;
  margin-top: 0;
  background-color: #666;
}

.sponsored-article {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  margin-top: 30px;
  color: #f72210;
}

.bottom h2 {
  font-size: 24px;
}

.gray {
  background-color: #f4f5f6;
  color: #000;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 10px 10px 12px;
  font: bold 18px/18px "Roboto", sans-serif;
}

.gray::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background:
    url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/icon-arrow-right-black.svg)
    center/contain no-repeat;
}

.part-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-top: 5px;
}

.title-border {
  border-bottom: 1px solid #d9d9d9;
  margin: 20px auto;
}

.image-article {
  position: relative;
  background-color: #000;
  background-position: center;
  background-size: cover;
  height: 15vw;
  overflow: hidden;
}

#image-article1 {
  background-image: url(./img/feschiff01banner.jpg);
}

#image-article2 {
  background-image: url(./img/feomar011130744964.jpg);
}

#image-article3 {
  background-image: url(./img/affirmative-action-college-admissions-scandal-statistics.jpg);
}

#image-article4 {
  background-image: url(./img/fewhiteidentity01619475022.jpg);
}

#image-article5 {
  background-image: url(./img/doug-jones.jpg);
}

#image-article6 {
  background-image: url(./img/feblockchain-impact-awardssimply-vital-health1062184620.jpg);
}

#image-article7 {
  background-image: url(./img/infocus041135495345.jpg);
  height: 17vw;
}

.category {
  font: bold 16px/26px "Roboto", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.magazine-article .category span:first-of-type {
  padding: 3px 7px;
  background-color: #f72210;
  color: #fff;
  margin-right: 7px;
}

.cat > a {
  color: #f72210;
}

.article-title {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

#marathon {
  position: absolute;
  bottom: 0;
  padding: 3px 7px;
  background-color: #f72210;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

#shadowN::after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.count {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(./img/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
}

.part-picks {
  border-top: 1px solid #d9d9d9;
  color: #f72210;
  padding-top: 25px;
  font-size: 22px;
  line-height: 22px;
}

.feature2 {
  padding: 10px 0;
  border-top: 1px solid #d9d9d9;
}

.top-column {
  border: none;
  padding: 0 0 10px;
}

.red {
  color: #f72210;
  margin-top: 20px;
}

.sunscribe {
  margin-bottom: 20px;
}

.items {
  background-color: #f4f5f6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.item1,
.item2 {
  padding: 20px 0 40px;
}

.item2 {
  border-top: 1px solid #d2d2d2;
  padding-bottom: 100px;
}

.itemsimg {
  width: 120px;
  float: left;
  margin-right: 20px;
}

.itemsspan::before {
  content: '✓';
  color: #999;
  font-size: 26px;
  vertical-align: top;
  text-align: center;
}

.itemsspan {
  font-size: 15px;
  margin-top: 5px;
}

#signin2 {
  margin: 20px auto;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

#signin2 a {
  text-decoration: none;
  background-color: #f72210;
  color: #fff;
  padding: 8px;
}

.mostread {
  color: #f72210;
}

.logo-without-background {
  padding-bottom: 20px;
}

footer {
  border-top: 2px solid #f4f5f6;
  background-color: #fff;
  padding-top: 30px;
}

.logo-footer > img {
  width: 256px;
  height: 36px;
  fill: #f72210;
  padding-left: 40px;
}

.copyright {
  vertical-align: bottom;
  padding-left: 10px;
}

.media-icons {
  text-align: right;
  display: inline;
}

.media-icons > i {
  vertical-align: -webkit-baseline-middle;
  font-size: 25px;
  color: #666;
  padding-left: 7px;
}

.menu {
  display: flex;
  font-size: 14px;
  line-height: 15px;
  list-style: none;
  margin: 0;
  color: #666;
}

.footer-list {
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-list:hover {
  color: #000;
}

#right {
  text-align: right;
  padding: 0;
}

.last {
  border: none;
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 135px;
    height: 20px;
    left: 100px;
    top: 12px;
  }

  .fa-bars {
    color: #fff;
  }

  #navscroll {
    padding: 3px 0;
  }

  #datenav {
    display: none;
  }

  #signin {
    font-size: 14px;
    bottom: 0;
  }

  #signin a {
    padding: 6px;
  }

  .fa-chevron-right {
    display: none !important;
  }

  .header-bottom {
    display: none;
  }

  #right-col {
    margin: auto;
  }

  .content {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .image {
    width: 256px;
  }

  .image-article {
    height: 52vw;
  }

  #image-article7 {
    height: 52vw;
  }

  .media-icons {
    text-align: left;
  }
}
